<!DOCTYPE html>
<html>
<head>
	<title>Forget Password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
	<script src="stylesheet" href="./js/main.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form2" ).submit(function(event) {

				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/forgetpass',
					data: $('#form2').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form2')[0].reset();
						//alert("abc");
						document.getElementById("check").innerHTML=response.Success;

						setTimeout(function(){
							document.getElementById("check").innerHTML="";
						},3000);
						if (response.Success=="Password changed!") {
							document.getElementById("aa").click();
						};
					},
					error: function() {
					}
				})
			});

		});
	</script>
</head>
<body>


	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">you are under survivelance</a>
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			  <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
			  <li><a href="/login">Login</a></li>
			  <li><a href="/register">Register</a></li>
			</ul>
		  </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>


		<div class="col-md-4 col-md-offset-4">
			<div>
				<p>Change Password</p>
			</div>
			<div class="form-group">
				<form id="form2" method="post">
					<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
					<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
					<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
					<input type="submit" value="Change" class="btn btn-success">
				</form>
			</div>
			<div  class="mssg bg-danger">
				<span id="check"></span>
				</div>
				<div id="LangTable"><a href="/profile" id="aa"></a>
				</div>
				<div><span>Login?</span><a href="/login">Click here</a></div>
			</div>
			<div id="LangTable"><a href="/login" id="aa"></a>
			</div>
		</div>

</body>
</html>