<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
	<script src="stylesheet" href="./js/main.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/api/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBn+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">HOME</a>
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  </div>
		</div>
	  </nav>


<div class="col-md-4 col-md-offset-4">
	<div class="d-flex flex-row justify-content-center">
		<div class="login-container">
			<img src ="https://img.freepik.com/free-vector/face-recognition-biometric-scan-cyber-security-technology-blue-tone_53876-119532.jpg?w=996&t=st=1681199831~exp=1681200431~hmac=bfbbcdc1fe07f0fb41024a960444321c271e5d46877543970dbfb3e9e231e333" class="welcome-image"/>
		</div>

		<div class="login-content-container">
			<div>
				<p class="login-heading" text-align = "center">Welcome Back</p>
			</div>
			<div>
				<div class="form-group">
					<form id="form" method="post" >
						<input type="text" name="email" placeholder="E-mail" required="" class="form-control" style="width: 300px; height: 40px; text-align: left; margin-left: 88px"><br/>
						<input type="password" name="password" placeholder="Password" required="" class="form-control" style="width: 300px; height: 40px; text-align: left; margin-left: 88px"><br/>
						<input type="submit" value="Login" class="btn btn-danger">
					</form>
				</div>
				<a class="google-btn" href="/auth/google">Sign in with Google</a>
				<div class="mssg bg-danger">
					<span id="check" ></span>
				</div>
				<div id="LangTable"><a href="/profile" id="aa"></a>
					</div>
					<div><a href="/register"><span>Create a new Account?</span></a>
				</div>		
			</div>	
		</div>
		</div>
		
	</div>

</body>
</html>